<footer id="colophon" class="site-footer" role="contentinfo">
    <div id="top-footer" class="footer-widgets-wrapper footer_column_four nv-clearfix">
        <div class="cv-container">
            <div class="footer-widgets-area nv-clearfix">
                <div class="nv-footer-widget-wrapper nv-column-wrapper nv-clearfix">
                    <div class="nv-footer-widget wow fadeInLeft" data-wow-duration="0.5s">
                        <section id="custom_html-2" class="widget_text widget widget_custom_html">
                            <h4 class="widget-title">CÔNG TY THIẾT KẾ &#8211; XÂY DỰNG</h4>
                            <div class="textwidget custom-html-widget">
                                <i class="fa fa-map-marker"></i> TP.HCM<br> <i class="fa fa-phone"></i> Holine: <br> <i class="fa fa-phone"></i> (028) - chăm sóc khách hàng<br> <i class="fa fa-phone"></i> (08)<br> <i class="fa fa-map-marker"></i> VPĐD1:Tp.HCM<br> <i class="fa fa-map-marker"></i> VPĐD2:Bình Dương<br> <i class="fa fa-fax"></i> 0902 - <i class="fa fa-envelope"></i> @@gmail.com<br> Công ty thiet ke nha dep luôn đi đầu trong mọi loại công trình <b> <a href="">thiết kế nhà phố </a></b>phong cách hiện đại và bán cổ điển. Với nhiều mẫu công trình <b><a href="">thiet ke nha</a></b> đẹp là tâm điểm cho mọi loại thiết kế xây nhà Kiến An Vinh. <br> <br> Top 100 mẫu <b><a href="">thiet ke biet thu</a></b> năm 2020
                                <noscript><img class="img-footer" src="wp-content/uploads/2019/11/hotline.gif" /></noscript>
                                <img class="lazyload img-footer" src='data:image/svg+xml,%3Csvg%20xmlns=%22http://www.w3.org/2000/svg%22%20viewBox=%220%200%20%20%22%3E%3C/svg%3E' data-src="https://thietkenha.pro/wp-content/uploads/2019/11/hotline.gif" />
                            </div>
                        </section>
                    </div>
                    <div class="nv-footer-widget wow fadeInLeft" data-woww-duration="1s">
                        <section id="nav_menu-2" class="widget widget_nav_menu">
                            <h4 class="widget-title">Về chúng tôi</h4>
                            <div class="menu-ve-chung-toi-container">
                                <ul id="menu-ve-chung-toi" class="menu">
                                    <li id="menu-item-46" class="menu-item menu-item-type-post_type menu-item-object-post menu-item-46"><a href="">Giới thiệu Xây dựng</a></li>
                                    <li id="menu-item-45" class="menu-item menu-item-type-post_type menu-item-object-post menu-item-45"><a href="">Công trình đang thực hiện</a></li>
                                    <li id="menu-item-44" class="menu-item menu-item-type-post_type menu-item-object-post menu-item-44"><a href="">Công trình đã hoàn thành</a></li>
                                    <li id="menu-item-43" class="menu-item menu-item-type-post_type menu-item-object-post menu-item-43"><a href="">Giá xây dựng phần thô</a></li>
                                </ul>
                            </div>
                        </section>
                    </div>
                    <div class="nv-footer-widget wow fadeInLeft" data-wow-duration="1.5s">
                        <section id="nav_menu-3" class="widget widget_nav_menu">
                            <h4 class="widget-title">Tin tức mới nhất</h4>
                            <div class="menu-tin-tuc-moi-nhat-container">
                                <ul id="menu-tin-tuc-moi-nhat" class="menu">
                                    <li id="menu-item-58" class="menu-item menu-item-type-post_type menu-item-object-post menu-item-58"><a href="">Phong thủy xây dựng</a></li>
                                    <li id="menu-item-57" class="menu-item menu-item-type-post_type menu-item-object-post menu-item-57"><a href="">Tin tức chuyên ngành</a></li>
                                    <li id="menu-item-56" class="menu-item menu-item-type-post_type menu-item-object-post menu-item-56"><a href="">Thước lỗ ban xây nhà</a></li>
                                    <li id="menu-item-55" class="menu-item menu-item-type-post_type menu-item-object-post menu-item-55"><a href="">Xem hướng nhà</a></li>
                                </ul>
                            </div>
                        </section>
                    </div>
                    <div class="nv-footer-widget wow fadeInLeft" data-wow-duration="2s">
                        <section id="text-2" class="widget widget_text">
                            <h4 class="widget-title">Fanpage</h4>
                            <div class="textwidget">
                                <p>
                                    <a href="https://www.facebook.com/">
                                        <noscript><img src="" width="348" height="208" /></noscript><img class="lazyload" src='data:image/svg+xml,%3Csvg%20xmlns=%22http://www.w3.org/2000/svg%22%20viewBox=%220%200%20348%20208%22%3E%3C/svg%3E' data-src="" width="348" height="208" />
                                    </a>
                                </p>
                            </div>
                        </section>
                    </div>
                </div>
                <!-- .nv-footer-widget-wrapper -->
            </div>
            <!-- .footer-widgets-area -->
        </div>
        <!-- .cv-container -->
    </div>
    <!-- .footer-widgets-wrapper -->
    <div class="bottom-footer nv-clearfix">
        <div class="cv-container">
            <span class="logo-duoi">
                <noscript><img src="wp-content/uploads/2019/02/logo-xay-dung.png"></noscript>
                <img class="lazyload" src='data:image/svg+xml,%3Csvg%20xmlns=%22http://www.w3.org/2000/svg%22%20viewBox=%220%200%20%20%22%3E%3C/svg%3E' data-src="https://thietkenha.pro/wp-content/uploads/2019/02/logo-xay-dung-kien-an-vinh.png">
            </span>
            <div class="social-network"> <a href="index.html#" class="fa fa-facebook"></a> <a href="index.html#" class="fa fa-google-plus"></a> <a href="index.html#" class="fa fa-instagram"></a> <a href="index.html#" class="fa fa-youtube"></a></div>
            <div class="bottom_trtri"> <span class="trtri_img"></span></div>
            <div class="site-info"> Copyright @@ 2019 tư vấn xây dựng</div>
            <!-- .site-info -->
            <nav id="footer-navigation" class="footer-navigation" role="navigation"></nav>
            <!-- #site-navigation -->
        </div>
        <!-- .cv-container -->
    </div>
    <!-- bottom-footer -->
</footer>